aside {
    width: 260px;
    margin-left: 40px;
    padding: 5px;
}

.pokemon_content_header {
    text-align: center;
}

.content_loaded {
    border: 1px solid white;
}

.content_loading {
    border: none;
}

.pokemon_table {
    width: 100%;
}

.cell {
    text-align: center;
    border: 1px solid white;
    padding: 3px;
}

.ability_key {
    width: 75%;
}

.ability_value {
    width: 25%;
}
